@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit !important;
}

body {
  display: flex;
  place-content: center;
  gap: 2rem;
  padding: 2rem;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.lnBtm {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 1rem 0rem;
}

hr {
  margin-bottom: 1rem;
}

.lftSide {
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.txtBig {
  font-size: 4rem;
}